<div th:fragment="nuovo_utente">
	<div class="row">
		<div class="col-md-9">
			<form th:object="${utente}" th:action="@{/saveUtente}" method="POST">
				<div class="form-row">
					<div class="form-group col-4">
				        <label for="inputIdTessera"># Tessera *</label>
				        <div class="form-row align-items-center">
				        	 <div class="col-6">
					        	<input type="text" class="form-control" id="inputIdTessera" th:field="*{idTessera}" placeholder="# Tessera">
					        </div>
					         <div class="col-4">
					        	<button type="button" class="btn btn-sm btn-outline-primary form-control" id="generaIdTessera">Genera</button>
					        </div>
				        </div>
			        </div>
			    </div>
			    <div class="form-row">
			    	<div class="form-group col-6">
				        <label for="inputNome">Nome *</label>
				        <input type="text" class="form-control" id="inputNome" th:field="*{nome}" placeholder="Nome">
			        </div>
			        <div class="form-group col-6">
				       <label for="inputCognome">Cognome *</label>
			           <input type="text" class="form-control" id="inputCognome" th:field="*{cognome}" placeholder="Cognome">
			        </div>
			    </div>
			    <div class="form-row">
			    	<div class="form-group col-6">
			    		<label for="inputCodiceFiscale">Codice Fiscale *</label>
			        	<input type="text" class="form-control" th:classappend="${#fields.hasErrors('codiceFiscale')} ? is-invalid" id="inputCodiceFiscale" th:field="*{codiceFiscale}" placeholder="Codice Fiscale">
			        	<small class="text-danger" th:if="${#fields.hasErrors('codiceFiscale')}" th:errors="*{codiceFiscale}">Incorrect date</small>
				        
				    </div>
				    <div class="form-group col-6">
				        <label for="inputEmail">Email *</label>
				        <input type="email" class="form-control" id="inputEmail" th:field="*{email}" placeholder="Email">
				    </div>
			    </div>
			    <div class="form-row">
			    	<div class="form-group col-6">
				        <label for="inputIndirizzo">Indirizzo</label>
			        	<input type="text" class="form-control" id="inputIndirizzo" th:field="*{indirizzo}" placeholder="Indirizzo">
				    </div>
				    <div class="form-group col-6">
				        <label for="inputCitta">Citt&agrave;</label>
			        	<input type="text" class="form-control" id="inputCitta" th:field="*{citta}" placeholder="Citt&agrave;">
				    </div>
			    </div>
			    <div class="form-row">
			    	<div class="form-group col-6">
				        <label for="inputNumeroTelefono">Telefono *</label>
				        <!--  <input type="text" class="form-control" id="inputCitta" placeholder="Citt&agrave;"> -->
				        <input type="text" class="form-control input-medium bfh-phone" data-format="+39 ddd ddddddd" th:field="*{numeroTelefono}" id="inputNumeroTelefono" placeholder="Telefono">
				    </div>
				    <div class="col-6">
				    </div>
			    </div>
			    <div class="form-group">
				    <button type="submit" class="btn btn-primary">Inserisci</button>
				    <button type="reset" class="btn btn-outline-danger">Reset</button>
			    </div>
			</form>
		</div>
		<div class="col-md-3" id="istrutzioni">
			<h3>Istruzioni</h3>
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
		</div>
	</div>
</div>


<!-- Non piu utilizzato -->
<div th:fragment="ricerca_utente">
	<form>
		<div class="row">
			<div class="col-md-6">
				<div class="form-group">
			        <label for="inputNome">Nome</label>
			        <input type="text" class="form-control" id="inputNome" placeholder="Nome">
			    </div>
			    <div class="form-group">
			        <label for="inputCognome">Cognome</label>
			        <input type="text" class="form-control" id="inputCognome" placeholder="Cognome">
			    </div>
			    <button type="submit" class="btn btn-primary">Cerca</button>
				<button type="reset" class="btn btn-outline-danger">Reset</button>
			</div>
			<div class="col-md-6">
				<div class="form-group">
			        <label for="inputEmail">Email</label>
			        <input type="email" class="form-control" id="inputEmail" placeholder="Email">
			    </div>
			    <div class="form-group">
			        <label for="inputCodiceFiscale">Codice Fiscale</label>
			        <input type="text" class="form-control" id="inputCodiceFiscale" placeholder="Codice Fiscale">
			    </div>
			</div>
		</div>
	</form>
</div>

<div th:fragment="ricerca_utente_risultati">
	<div class="row">
	<div class="col-md-10 ">
		<span></span>
	</div>
	<div class="col-md-2">
		<a class="btn btn-primary btn-sm form-group float-right" style="margin-right:15px" href="#" th:href="@{/aggiornaListaUtenti}">Aggiorna lista</a>
	</div>
	</div>
	<table id="example" class="table table-striped table-bordered" style="width:100%">
	    <thead>
	        <tr>
	        	<th>ID Tessera</th>
	            <th>Nome</th>
	            <th>Cognome</th>
	            <th>Codice Fiscale</th>
	            <th>Email</th>
	            <th>Telefono</th>
	            <th>Azione</th>
	        </tr>
	    </thead>
	    <tbody>
	    	<tr th:each="user : ${allUsers}">
	            <td th:text="${user.idTessera}"></td>
	            <td th:text="${#strings.capitalize(user.nome)}">Nome</td>
	            <td th:text="${#strings.capitalize(user.cognome)}">Cognome</td>
	            <td th:text="${#strings.toUpperCase(user.codiceFiscale)}">BRGNDR82S08G274S</td>
	            <td th:text="${user.email}">cloooze@gmail.com</td>
	            <td th:text="${user.numeroTelefono}">+39 3351051146</td>
	            <td><a th:href="@{/getDettaglioUtente(codiceFiscale=${user.codiceFiscale})}" class="btn btn-sm btn-outline-primary">Dettagli</a></td>
	        </tr>
	</table>
</div>

<div th:fragment="modifica_utente">
	<div class="row">
		<div class="col-md-9">
			<form th:object="${dettaglioUtente}" th:action="@{/updateUtente}" method="POST">
			    <div class="form-row">
			    	<div class="form-group col-6">
				        <label for="inputNome">Nome *</label>
				        <input type="text" class="form-control" id="inputNome" th:field="*{nome}" placeholder="Nome">
			        </div>
			        <div class="form-group col-6">
				       <label for="inputCognome">Cognome *</label>
			        <input type="text" class="form-control" id="inputCognome" th:field="*{cognome}" placeholder="Cognome">
			        </div>
			    </div>
			    <div class="form-row">
			    	<div class="form-group col-6">
			    		<label for="inputCodiceFiscale">Codice Fiscale *</label>
			        	<input type="text" readonly class="form-control" id="inputCodiceFiscale" th:field="*{codiceFiscale}" placeholder="Codice Fiscale">
				        
				    </div>
				    <div class="form-group col-6">
				        <label for="inputEmail">Email *</label>
				        <input type="email" class="form-control" id="inputEmail" th:field="*{email}" placeholder="Email">
				    </div>
			    </div>
			    <div class="form-row">
			    	<div class="form-group col-6">
				        <label for="inputIndirizzo">Indirizzo</label>
			        	<input type="text" class="form-control" id="inputIndirizzo" th:field="*{indirizzo}" placeholder="Indirizzo">
				    </div>
				    <div class="form-group col-6">
				        <label for="inputCitta">Citt&agrave;</label>
			        	<input type="text" class="form-control" id="inputCitta" th:field="*{citta}" placeholder="Citt&agrave;">
				    </div>
			    </div>
			    <div class="form-row">
			    	<div class="form-group col-6">
				        <label for="inputNumeroTelefono">Telefono *</label>
				        <!--  <input type="text" class="form-control" id="inputCitta" placeholder="Citt&agrave;"> -->
				        <input type="text" class="form-control input-medium bfh-phone" data-format="+39 ddd ddddddd" th:field="*{numeroTelefono}" id="inputNumeroTelefono" placeholder="Telefono">
				    </div>
				    <div class="col-6">
				    </div>
			    </div>
			    <div class="form-group">
				    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modificaUtenteModal">Salva Modifiche</button>
				    <button type="reset" class="btn btn-outline-danger">Reset</button>
			    </div>
				<div th:replace="fragments/modals :: modal_modificaUtente"></div>
			</form>
		</div>
		<div class="col-md-3" id="istrutzioni">
			<h3>Istruzioni</h3>
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
		</div>
		
	</div>
</div>
