<div th:fragment="header">
	<div style="padding-left: 15px;" class="row" >
		<img src="/img/flag-italy.webp" alt="Italian flag" width="50" height="50"> 
		<h1>Datapoint <small>Gestione soggetti e materie</small></h1>
	</div>
	<!-- 
	<div>
		<a href="/home">Home</a>
	</div>
	 -->
</div>

<div th:fragment="footer">
	<footer class="footer">
      	<div class="container">
        	<span class="text-muted">Place sticky footer content here.</span>
    	</div>
	</footer>
</div>

<div th:fragment="nav_bar">
	<nav class="navbar navbar-expand-lg navbar-light bg-light">
	  <a class="navbar-brand" href="/home">Home</a>
	  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
	    <span class="navbar-toggler-icon"></span>
	  </button>
	  <div class="collapse navbar-collapse" id="navbarNav">
	    <ul class="navbar-nav">
		<li class="nav-item dropdown">
			<a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
			Soggetti
			</a>
			<div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
				<a class="dropdown-item" href="/soggetti/gestione">Ricerca</a>
				<a class="dropdown-item" href="/soggetti/inserimentoTestata">Inserimento</a>
			</div>
		</li>
		<li class="nav-item dropdown">
			<a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
			Materie
			</a>
			<div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
				<a class="dropdown-item" href="#">Ricerca</a>
				<a class="dropdown-item" href="#">Inserimento</a>
			</div>
		</li>
	       
	      <li class="nav-item">
	        <a class="nav-link" href="/soggetti/inserimentoTestata">Funzioni Massive</a>
	      </li>
	      <li class="nav-item">
	        <a class="nav-link" href="#">Help</a>
	      </li>
	    </ul>
	  </div>
	</nav>
</div>

<div th:fragment="testata_soggetto">
		<div class="form-group col-8">
	        <label for="inputNome">Generalità</label>
	        <input type="text" class="form-control" id="inputNome" th:field="*{nome}" th:classappend="${#fields.hasErrors('nome')} ? is-invalid">
	        <small class="text-danger" th:if="${#fields.hasErrors('nome')}" th:errors="*{nome}">Incorrect date</small>
        </div>
        <div class="form-group col-1">
	        <label for="inputGiornoNascita">Giorno</label>
	        <input type="text" class="form-control" id="inputGiornoNascita" th:field="*{giornoNascita}" th:classappend="${#fields.hasErrors('giornoNascita')} ? is-invalid">
	        <small class="text-danger" th:if="${#fields.hasErrors('giornoNascita')}" th:errors="*{giornoNascita}">Incorrect date</small>
        </div>
        <div class="form-group col-1">
	        <label for="inputMeseNascita">Mese</label>
	        <input type="text" class="form-control" id="inputMeseNascita" th:field="*{meseNascita}" th:classappend="${#fields.hasErrors('meseNascita')} ? is-invalid">
	        <small class="text-danger" th:if="${#fields.hasErrors('meseNascita')}" th:errors="*{meseNascita}">Incorrect date</small>
        </div>
        <div class="form-group col-2">
	        <label for="inputAnnoNascita">Anno</label>
	        <input type="text" class="form-control" id="inputAnnoNascita" th:field="*{annoNascita}" th:classappend="${#fields.hasErrors('annoNascita')} ? is-invalid">
	        <small class="text-danger" th:if="${#fields.hasErrors('annoNascita')}" th:errors="*{annoNascita}">Incorrect date</small>
        </div>
</div>


<div th:fragment="alert_message">
	<div th:if="${successMessage}" class="alert alert-success fade show" role="alert">
  		<span th:utext="${successMessage}">This is a success alert check it out!</span>
  		<button type="button" class="close" data-dismiss="alert" aria-label="Close">
			<span aria-hidden="true">&times;</span>
		</button>
	</div>
	<div th:if="${errorMessage}" class="alert alert-danger fade show" role="alert">
		<span th:text="${errorMessage}">This is a success alert check it out!</span>
		<button type="button" class="close" data-dismiss="alert" aria-label="Close">
	    	<span aria-hidden="true">&times;</span>
	  	</button>
	</div>
</div>


