<div th:fragment="header">
	<div>
		<h1>Bootstrap <small>An intuitive front-end framework</small></h1>
	</div>
	<div>
		<a href="/home">Home</a>
	</div>
</div>

<div th:fragment="alert_message">
	<div th:if="${successMessage}" class="alert alert-success fade show" role="alert">
  		<span th:text="${successMessage}">This is a success alert—check it out!</span>
	</div>
	<div th:if="${errorMessage}" class="alert alert-danger fade show" role="alert">
		<span th:text="${errorMessage}">This is a success alert—check it out!</span>
	</div>
</div>


