<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="main-template">
    <head>
        <title>Home Page</title>
    </head>
    <body>
    <div layout:fragment="content">
    	<div class="row col-md-12 justify-content-center">
			<div style="padding-right: 10px;">
				<div class="card shadow-m" style="width: 15rem;">
				  <!--  <img class="card-img-top" src="..." alt="Card image cap"> -->
				  <div class="card-body">
				    <h5 class="card-title">Gestione Soggetti</h5>
				    <p class="card-text">Da questa sezione &egrave; possibile gestire il database utenti, insrimento, cancellazione e modifica.</p>
				    <div style="text-align: right;">
				    	<a href="/gestioneUtenti">Vai</a>
				    </div>
				  </div>
				</div>
			</div>
			<div style="padding-right: 10px;">
				<div class="card shadow-m" style="width: 15rem;">
				  <!--  <img class="card-img-top" src="..." alt="Card image cap"> -->
				  <div class="card-body">
				    <h5 class="card-title">Gestione Materie</h5>
				    <p class="card-text">Da questa sezione &egrave; possibile gestire il database utenti, insrimento, cancellazione e modifica.</p>
				    <div style="text-align: right;">
				    	<a href="/gestioneUtenti">Vai</a>
				    </div>
				  </div>
				</div>
			</div>
			<div style="padding-right: 10px;">
				<div class="card shadow-m" style="width: 15rem;">
				  <!--  <img class="card-img-top" src="..." alt="Card image cap"> -->
				  <div class="card-body">
				    <h5 class="card-title">Funzioni Massive</h5>
				    <p class="card-text">Da questa sezione &egrave; possibile gestire il database utenti, insrimento, cancellazione e modifica.</p>
				    <div style="text-align: right;">
				    	<a href="/gestioneUtenti">Vai</a>
				    </div>
				  </div>
				</div>
			</div>
		</div>
		<!-- 
		<div style="padding-top: 10px;">
			Soggetti
			<br>
			<a href="/soggetti/gestione" >Gestione Soggetti</a>
			<br>
			<a href="/soggetti/inserimentoTestata" >Inserimento testata</a>
			<br>
			<a href="/soggetti/inserimentoMassivo" >Inserimento massivo</a>
			<br>
			<a href="/soggetti/inserimentoRichiamo" >Inserimento richiamo singolo</a>
			<br>
			<a href="/soggetti/ricerca" >Ricerca singola</a>
			<br>
			<a href="/soggetti/ricercaMassiva" >Ricerca massiva</a>
			<br>
			Materie
			<br>
			<br>
			Authenticated User:
			<span th:text ="${#request.getRemoteUser()}"></span>
			<br>
			<div sec:authorize="isAuthenticated()">
			  This content is only shown to authenticated users.
			</div>
			<div sec:authorize="hasRole('ROLE_ADMIN')">
			  This content is only shown to administrators.
			</div>
			<div sec:authorize="hasRole('ROLE_USER')">
			  This content is only shown to users.
			</div>
		</div>
		 -->
	</div>
    </body>
    <th:block layout:fragment="scripts">
        <!--  <script src="/js/hello.js"></script> -->
    </th:block>
</html>