<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="main-template">
    <head>
        <title>Home Page</title>
    </head>
    <body>
    <div layout:fragment="content" class="row">
    	<div style="padding-right: 10px;">
	    	<div class="card" style="width: 15rem;" >
			  <!--  <img class="card-img-top" src="..." alt="Card image cap"> -->
			  <div class="card-body">
			    <h5 class="card-title">Gestione Utenti</h5>
			    <p class="card-text">Da questa sezione &egrave; possibile gestire il database utenti, insrimento, cancellazione e modifica.</p>
			    <a href="/gestioneUtenti" class="btn btn-primary">Vai a Gestione Utenti</a>
			  </div>
			</div>
		</div>
		<div style="padding-right: 10px;">
			<div class="card" style="width: 15rem;">
			  <!--  <img class="card-img-top" src="..." alt="Card image cap"> -->
			  <div class="card-body">
			    <h5 class="card-title">Gestione Utenti</h5>
			    <p class="card-text">Da questa sezione &egrave; possibile gestire il database utenti, insrimento, cancellazione e modifica.</p>
			    <a href="/gestioneUtenti" class="btn btn-primary">Vai a Gestione Utenti</a>
			  </div>
			</div>
		</div>
	</div>
    </body>
    <th:block layout:fragment="scripts">
        <!--  <script src="/js/hello.js"></script> -->
    </th:block>
</html>