<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
    <head>
        <meta charset="UTF-8"/>
        <title>Default title for my pages</title>

        <link rel="stylesheet" href="/css/bootstrap.min.css">
        <link rel="stylesheet" href="/css/custom.css">
        <link rel="stylesheet" href="/css/bootstrap-grid.min.css">
        <link rel="stylesheet" href="/css/dataTables.bootstrap4.min.css">
        <link rel="stylesheet" href="/css/sticky-footer.css">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous">
    </head>
    <body style="background-color:#eee">
        <div class="container rounded" style="padding:20px;min-height: 768px; max-height:100%; background-color:white">
        	<div th:replace="common-components :: header"></div>
        	<!--   <hr> -->
        	<div th:replace="common-components :: nav_bar"></div>
        	<br>
        	<div th:replace="common-components :: alert_message"></div>
     		<div class="col-xs-12" style="height:10px;"></div>
        	<div layout:fragment="content">Page content goes here</div>
        	<div class="col-xs-12" style="height:30px;"></div>
        	
        </div>
        <div th:replace="common-components :: footer"></div>
        
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
        <script src="/js/bootstrap.min.js"></script>
        <script src="/js/jquery.dataTables.min.js"></script>
        <script src="/js/dataTables.bootstrap4.min.js"></script>
        <script src="/js/application.js"></script>
        <th:block layout:fragment="scripts"></th:block>
    </body>
</html>