<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="main-template">
    <head>
        <title>Ricerca Soggetti</title>
    </head>
     <body>
        <div layout:fragment="content">
	        <h4>Ricerca</h4>
	        <hr>
	        
	        <form th:object="${soggetto}" th:action="@{/soggetti/ricercaSoggetto}" method="POST" id="form_nuovo_soggetto">
	        	<div class="shadow-none p-3 mb-3 bg-light rounded">
			    <div class="form-row">
			    	<div class="form-group col-4">
				        <label for="inputNome">Nome *</label>
				        <input type="text" class="form-control" id="inputNome" th:field="*{nome}" placeholder="Nome">
			        </div>
			        <div class="form-group col-4">
				       <label for="inputCognome">Cognome *</label>
			           <input type="text" class="form-control" id="inputCognome" th:field="*{cognome}" placeholder="Cognome">
			        </div>
			        <div class="form-group col-4">
				       <label for="inputCognome">Data Nascita *</label>
			           <input type="text" class="form-control" id="inputCognome" th:field="*{cognome}" placeholder="Cognome">
			        </div>
			    </div>
			     <div class="form-row">
			        <div class="form-group col-4">
				        <label for="inputNome">Protocollo *</label>
				        <input type="text" class="form-control" id="inputNome" th:field="*{nome}" placeholder="Nome">
			        </div>
			        <div class="form-group col-4">
				       <label for="inputCognome">Anno *</label>
			           <input type="text" class="form-control" id="inputCognome" th:field="*{cognome}" placeholder="Cognome">
			        </div>
			    </div>
			    </div>
			    <div class="form-group">
				    <button type="submit" class="btn btn-sm btn-primary"><i class="fa fa-search"></i>&nbsp;Ricerca</button>
			    </div>
			    
			</form>
			
			<span th:if="${risultatiRicerca}">
				<span th:replace="fragments/ricerca :: ricerca_risultati"></span>
			</span>
        </div>
       
    </body>
    <th:block layout:fragment="scripts">
    </th:block>
</html>